extends main

block content
  div.viewDiv
    p.reportSubjectReport #{subject}
    p.reportDate #{reportDate}
    p.reportWrite
      span.reportName #{name} 기자 | 
      span.reportEmail #{email}
    img.reportImgReport(src=image)
    p.report #{contents}

  .commentDiv
    form.commentInput(action='/post/comment' method='post')
      textarea#content(name="contents", cols="30", rows="10")
      button#save(type='submit') 등 록



    