extends main

block content
  div.viewDiv
    p.reportSubjectReport #{subject}
    p.reportDate #{reportDate}
    p.reportWrite
      span.reportName #{name} 기자 | 
      span.reportEmail #{email}
    img.reportImgReport(src=image)
    p.report #{contents}
    