extends main

block content
  div.viewDiv
    p.reportSubjectReport #{subject}
    p.reportDate #{reportDate}
    p.reportWrite
      span.reportName #{name} 기자 | 
      span.reportEmail #{email}
    img.reportImgReport(src=image)
    p.report #{contents}

  .commentDiv
    if comments
      div.commentList 
        span.allComment 전체 댓글
        p.commentListP
          span.commentListName #{comments.name} | #{comments.email}
          span.commentListComment #{comments.comment}
        
    form.commentInput(action='/post/comment' method='post')
      if login
        textarea#comment(name="comments", cols="30", rows="10")
        button#save(type='submit') 등 록
      else
        textarea#comment(name="comments", cols="30", rows="10" disabled="disabled" ) 로그인 후 이용해주세요.
        p#save 등 록
      textarea.displayNone(name="contents") #{contents}

   
